latest_logs
downloaded_files/pyautogui.lock
soup_debug.html
downloaded_files/proxy_dir.lock
downloaded_files/driver_fixing.lock
data.csv
debug.html
demo.py
downloaded_files
__pycache__
pnd_false.png
pnd_true.png
backup
county_names.txt.bak
pop.csv
